<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>TodoApp</title>
</head>
<body>
<h1>TodoList</h1>

<h2>検索</h2>
<form method="get" th:action="@{/search}" >
	<input type="text"  name="keyword"/>
	<input type="submit" value="検索" />
	<span th:if="${error}" th:text="${error}" style="color:red"></span>
</form>

<h3>マイタスク</h3>
<div th:each="todo : ${todos}">
    <form method="post" th:action="@{/task/update}" style="display:inline-block;">
        <input type="hidden" name="id" th:value="${todo.id}" />
        <input type="text" name="title" th:value="${todo.title}" />
        <input type="date" name="time_limit" th:value="${todo.time_limit}" />
        <button type="submit">更新</button>
    </form>
    <form method="post" th:action="@{/update}" style="display:inline-block;">
        <input type="hidden" name="id" th:value="${todo.id}" />
        <input type="hidden" name="title" th:value="${todo.title}" />
        <input type="hidden" name="time_limit" th:value="${todo.time_limit}" />
        <button type="submit" name="done_flg" value="1">完了</button>
    </form>
</div>

<h3>完了済み</h3>
	<form method="post" th:action="@{/delete}" th:each="todo : ${doneTodos}" >
	<input type="hidden" name="id" th:value="${todo.id}" />
	<input type="text" name="title"th:value="${todo.title}" style="text-decoration:line-through"/>
	<input type="date" name="time_limit"th:value="${todo.time_limit}" />
</form>

<button type="button" onclick="location.href='http://localhost:8080/'">戻る</button>

<h3>新しいタスクを追加</h3>
<form method="post" th:action="@{/add}" th:object="${todo}">
	<input type="text" th:field="*{title}" />
	<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="color:red"></span>	
	<input type="date" th:field="*{time_limit}"/>
	<span th:if="${#fields.hasErrors('time_limit')}" th:errors="*{time_limit}" style="color:red"></span>
	<input type="submit" value="追加" />
</form>
<form method="post" th:action="@{/delete-done}">
	 <input type="submit" value="完了済みを削除" />
</form>

</body>
</html>